# Copyright (C) 2017-2022 BinaryMist Limited. All rights reserved.

# Use of this software is governed by the Business Source License
# included in the file /licenses/bsl.md

# As of the Change Date specified in that file, in accordance with
# the Business Source License, use of this software will be governed
# by the Apache License, Version 2.0

# docker-compose up --scale zap=2
# Waiting to see what happens with docker-compose-ui support in order to move to 3.8
#   https://github.com/francescou/docker-compose-ui/issues/120
#   https://github.com/francescou/docker-compose-ui/issues/110
version: "3.8"

networks:
  compose_pt-net:
    external: true

services:
  zap:
    image: owasp/zap2docker-stable:s2021-12-16 #2.11.1
    networks:
      compose_pt-net:
    # Soft limit of 12 test sessions.
    ports:
    - "8080-8091:8080"
    # Todo: KC: create new api key on every test run.
    command: [
      "zap.sh",
      "-daemon",
      "-port",
      "8080",
      "-host",
      "0.0.0.0",
      "-config",
      "api.addrs.addr.regex=true",
      "-config",
      "api.addrs.addr.name=zap|localhost|127.0.0.1|172.25.0.*|appemissary_zap_(100|[1-9][0-9]?)",
      "-config",
      "api.key=${ZAP_API_KEY}"
    ]
    volumes:
     - type: bind
       # Same variables found in contOrc IAC variables.tf for cloud environment.
       source: ${HOST_DIR_APP_SCANNER}
       target: ${ZAP_DIR_APP_SCANNER_MOUNT_TARGET}
    # Uncomment the bind mount to enable debug logs in Zap containers.    
    # - type: bind
    #   # Same variables found in contOrc IAC variables.tf for cloud environment.
    #   source: ${HOST_ZAP_LOG4J_PROPERTIES_PATH}
    #   target: ${ZAP_LOG4J_PROPERTIES_PATH_MOUNT_TARGET}

